<div class="container px-5 ">
    <h2 class="text-center py-4">Notifications</h2>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
        [(ngModel)]="opcionSeleccionado" (ngModelChange)="obtenerLista()">
        <option value="0">Select the type</option>
        <option value="1">Follows</option>
        <option value="2">Adoption Requests</option>
    </select>
    <div *ngIf="!notifications">There is no notificatione yet</div>
    <div class="py-5 px-5" *ngFor="let notification of notifications">
        <div class="row" *ngIf="opcionSeleccionado==1">
            <div class="col-2"><a href="/users/{{notification}}"><img class="rounded-circle mx-3" [src]="imagesNotfs[buscarImageIndice(notification)].image" width="60px"
                    height="60px"></a></div>
            <div class="col-7 d-flex align-items-center">{{notification}} has followed you
            </div>
            <div class="col-3 d-flex align-items-center"><button class="btn btn-success"
                    (click)="follow(notification)">Follow Back</button></div>
        </div>

        <div class="row" *ngIf="opcionSeleccionado==2">
            <div class="col-2"><a href="/users/{{notification.nombreUsuario.nombreUsuario}}"><img class="rounded-circle mx-3" [src]="imagesNotfs[buscarImageIndice(notification.nombreUsuario.nombreUsuario)].image" width="60px"
                    height="60px"></a></div>
            <div class="col-7 d-flex align-items-center">{{notification.nombreUsuario.nombreUsuario}} has applied for
                your animal with DNI <a href="/posts/{{notification.animalesDNI.publicaciones_id.id}}">
                    {{notification.animalesDNI.dni}}</a></div>
            <div class="col-3 d-flex align-items-center"><button class="btn btn-success"
                    (click)="responderSolicitud('yes',notification.animalesDNI.dni,notification.nombreUsuario.nombreUsuario,notification.fecha)">Yes</button>
                <button class="btn btn-danger"
                    (click)="responderSolicitud('no',notification.animalesDNI.dni,notification.nombreUsuario.nombreUsuario,notification.fecha)">No</button>
            </div>
        </div>

    </div>
    <!-- ModalEmail -->
<div class="modal fade" id="modalEmail" tabindex="-1" aria-labelledby="modalEmail" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Email Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          We have sent an email to the animals owner! You should wait until he responds you.
        </div>
      </div>
    </div>
  </div>
</div>