
<div class="container px-5 py-4 text-center ">
    <h1 class="py-3">Why you should colaborate with My Adoption</h1>
    We're on a mission to change the way the world works to end animal cruelty and suffering. Forever.

For over 5 years we have been campaigning to end animal cruelty and suffering. In this time, we have grown in both size and influence. We have helped raise the profile of animal welfare on a global scale, making significant improvement in the way farmed and wild animals are treated.


<hr>
<p>Everything we do at MyAdoption starts and ends with the animal. We make every animal’s story the core focus in our campaigns, decisions and ambitions for change in the world.

Whether we’re ensuring farmed animals can be spared cruel confinement systems or ensuring wild animals can lively freely in the wild, we make their perspective understood by more people around the world. 

We make animals the main benefactors of our hard work and it pays off for us all.</p>
</div>